<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<!--nav-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/enseignant}"><i class="fa fa-user-tie">  ENSEIGNANT</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/etudiant}"><i class="fa fa-user">  ETUDIANT</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/matiere}"><i class="fa fa-object-group">  MATIERE</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href=""><i class="fa fa-plus">  NOTE</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/note/add}"><i class="fa fa-plus-square">  AJOUTER UNE NOTE</i></a>
        </li>
    </ul>

<!--tableau-->
    <table class="table table-hover w-50 mx-auto">
        <thead>
        <tr>
            <th scope="col">Etudiant</th>
            <th scope="col">Note</th>
            <th scope="col">Matiere</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note:${note}">
            <th scope="row" th:text="${note.etudiant.nom} + ' ' + ${note.etudiant.prenom}"></th>
            <td th:text="${note.noteValue}"></td>
            <td th:text="${note.matiere.nom}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>