<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Matiere</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <!--nav-->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/enseignant}"><i class="fa fa-user-tie">  ENSEIGNANT</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/etudiant}"><i class="fa fa-user">  ETUDIANT</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/matiere}"><i class="fa fa-object-group">  MATIERE</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/matiere/add}"><i class="fa fa-plus-square">  AJOUTER UNE MATIERE</i></a>
        </li>
    </ul>

    <!--tableau-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Numero Matiere</th>
            <th scope="col">Nom</th>
            <th scope="col">Coef</th>
            <th scope="col">Enseignant</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="matieres:${matieres}"> 
            <th scope="row" th:text="${matieres.id}"></th>
            <td th:text="${matieres.numeroMatiere}"></td>
            <td th:text="${matieres.nom}"></td>
            <td th:text="${matieres.coef}"></td>
            <td th:text="${matieres.enseignants.nom} + ' ' + ${matieres.enseignants.prenom}"></td>
            <td><a th:href="@{/matiere/modifier(id=${matieres.id})}" class="list-group-item list-group-item-action list-group-item-light" role="button"><i class="fa fa-edit">  Modifier</i></a></td>
            <td><a th:href="@{/matiere/delete(id=${matieres.id})}" class="list-group-item list-group-item-action list-group-item-light" role="button"><i class="fa fa-minus-square">  Supprimer</i></a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>